<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div id="toast-container"></div>

    <h1 class="register">KUDEHEZI</h1>
  <!--   <% if (error) { %>
        <p style="color:red;">
            <%= error %>
        </p>
        <% } %>
            -->
            <div class="main-login">
                <div class="container-login">
                    <h2 class="register">Iniciar sesión</h2>
                    <form action="/login" class="formulario" method="POST">
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit" id="btnEnviar">Login</button>
                    </form>
                    <p>¿No tienes una cuenta? <a href="/register"> Regístrate aquí</a></p>
                </div>
            </div>
            <script src="/app.js"></script>

             <% if (error) { %>
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                showToast("<%= error %>");
            });
        </script>
    <% } %>
</body>

</html>