<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registro de Usuario</title>
</head>

<body>
    <div id="toast-container"></div>

    <h1 class="register">KUDEHEZI</h1>
    <div class="main-register ">
        <div class="container-registro">
            <h2 class="register">Registro de Usuario</h2>
            <form action="/register" method="POST">
                <label>Nombre*<br><input type="text" name="nombre" required></label>
                <br>
                <label>Fecha de nacimiento<br><input type="date" name="fechaNacimiento"></label>
                <br>
                <label>Código Postal<br><input type="text" name="codigoPostal"></label>
                <br>
                <label>Teléfono<br><input type="text" name="telefono"></label>
                <br>
                <label>Email*<br> <input type="email" name="email" required></label>
                <br>
                <label>Contraseña*<br><input type="password" name="password" required></label>
                <br>
                <button type="submit" id="btnEnviar">Crear usuario</button>
            </form>
            <p>¿Ya tienes una cuenta? <a href="/login"> Inicia sesión</a></p>
        </div>
    </div>
<script src="/app.js"></script>

<% if (error) { %>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        showToast("<%= error %>", 'error');
    });
</script>
<% } %>

</body>

</html>